@use '/src/styles/abstracts/mixins/h-tags' as *;

body {
  font-family: var(--ff-body);
}
  
@include h-tags() {
  font-family: var(--ff-heading);  
}

body {
  background: var(--lm-body-bg);
  color: var(--lm-body-text);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

@include h-tags(1, 3) {
  line-height: 1.2;
}

a {
  color: currentColor;
}

:focus {
  outline: var(--size-50) dotted;
}